huggingface-hub==0.16.4
cython==3.0.3
cchardet==2.1.7
//torch==2.1.0
transformers==
langchain==
chromadb==
pypdf==
xformers==
sentence_transformers==
InstructorEmbedding==
pdf2image==
pycryptodome==




source env/bin/activate


deactivate